@charset "UTF-8";
/* common */
html{font-size:100px;font-family:Helvetica,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{font-size:.13rem;line-height:.13rem}
*{margin:0;padding:0}
ol,ul{margin:0;padding:0;list-style:none}
img{border:0}
audio,canvas,progress,video{vertical-align:baseline}
audio:not([controls]){display:none;height:0}
a{color:#3a7fde;text-decoration:none}
a:active{outline:0}
b,strong{font-weight:700}
i{color:#888}
button,input,select,textarea{color:inherit;font:inherit;margin:0}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0;vertical-align: middle;}
.fl{float:left;}
.fr{float:right;}
.text-center{text-align: center}
.clear:before,.clear:after{content: " "; display: table;}
.clear:after{clear:both;}
.hide{display: none}
.show{display: block}
